body {
  font-family: 'Roboto Slab', serif;
  background-color: black;
  color: white;
  font-size: 28px;
}

#timer {
  font-size: 20px;
}

.enter-site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 40%;
  display: flex;
  justify-content: center;
  height: 46px;
  overflow: hidden;
  border-radius: 5px;
}

.slider {
  animation: 4s slide-up ease-in-out;
  font-size: 20px;
}

@keyframes slide-up {
  from {
    margin-top: 40%;
    color: rgba(255, 255, 255, 0)
  }

  to {
    margin-top: 0%;
    color: rgba(255, 255, 255, .95);
  }
}

.enter-site-button {
  border-radius: 5%;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1.5s appear ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0%;
  border: 2px solid white;
  margin-top: 60px;

  background: linear-gradient(to right, white 50%, black 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: all 1s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.enter-site-button:hover {
  background-position: left bottom;
  transition: all 1s ease-in-out;
  color: black;
  cursor: pointer;
}