body {
  background-color: blue;
}

#timer {
  font-size: 24px;
}

.container {
  height: 24px;
  overflow: hidden;
}

.slider {
  animation: 1s slide-up;
  margin-top: 0%;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 100%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}