body {
  font-family: 'Roboto Slab', serif;
  background-color: black;
  color: white;
  font-size: 36px;
}

#timer {
  font-size: 20px;
}

.enter-site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  height: 46px;
  overflow: hidden;
  border-radius: 5px;
}

.slider {
  animation: 2.5s slide-up;
}

@keyframes slide-up {
  from {
    margin-top: 20%;
    color: rgba(255, 255, 255, 0)
  }

  to {
    margin-top: 0%;
    color: rgba(255, 255, 255, .95);
  }
}

.enter-site-button {
  margin-top: 20%;
  border-radius: 5%;
  padding: 8px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}