
body {
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  z-index: 2;
  width: 100%;
  max-width: 1300px;
  position:fixed;
  height: 5em;
  /* border: 1px dotted white; */
  background-color: rgba(0, 0, 0, .7);
  padding: 0 1em;
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: 1fr  1.2fr;
}

.header-logo {
  grid-area: 1/1/2/2;
  width: 80px;
  align-self: center;
}

.header-title {
  grid-area: 1/1/2/2;
  align-self: center;
  margin-left: 80px;
}

.nav-bar {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.bio-image {
  width: 100%;
  max-width: 1300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}